{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash

sudo pacman -Syu --needed --noconfirm
sudo pacman -S --needed --noconfirm {{ range .packages.pacman -}}{{ . | quote }} {{ end }}

# if ! command -v yay &>/dev/null; then
#   _tempdir=$(mktemp -d)
#   git clone https://aur.archlinux.org/yay.git $_tempdir
#   cd "$_tempdir"
#   makepkg -si --noconfirm
#   cd -
#   rm -rf "$_tempdir"
# fi

# yay -S --needed --noconfirm {{ range .packages.aur }}{{ . | quote }} {{ end }}

# if [ -f /usr/share/nvm/init-nvm.sh ]; then
#   source /usr/share/nvm/init-nvm.sh
#   nvm install --lts --latest-npm
#   npm install -g {{ range .packages.npm -}}{{ . | quote }} {{ end }}
# fi

{{ end -}}
